a {
  text-decoration: none;
  color: red;
  font-weight: bold;
  font-size: 16pt;
}

h1 {
  font-family: Arial;
  font-weight: bold;
  font-size: 36pt;
}

code {
  font-family: Verdana;
  font-style: italic;
  color: blue;
  background: white;
  font-size: 16pt;
}
